/* ------------------------------------------navbar------------------------------------------------------*/

@font-face {
  font-family: play;
  src: url(../src/fonts/Play/Play-Bold.ttf);
  font-weight: normal;
}

#navbarContainer {
  font-family: play;
  background-color: #2b2d42;
  color: white;
  padding: 10px 20px;
}

.navlinks {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: color .3s ease;
}

.navlinks:hover {
  color: #ef233c; /* Slightly lighter shade on hover */
  text-decoration: underline;
  transition: all ease .3s
}

.navlinksContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: inherit;
  justify-content: space-around;
}

/* Other CSS rules */
.avatarImage {
  width: 20vh;
  border-radius: 25px;
  border: 5px red;
}

.linkStyle {
  text-decoration: none;
  color: inherit;
}

#link1:hover {
  color: white;
  transition: all ease 0.5s;
  text-decoration: underline;
}

#link2:hover {
  color: blue;
  transition: all ease 0.5s;
  text-decoration: underline;
}

#link3:hover {
  color: red;
  transition: all ease 0.5s;
  text-decoration: underline;
}
/* -----------------------------------------footer--------------------------------------------------------*/

.footerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #2b2d42;;
  gap: 20vh;
  padding: 20px;
  font-family: play;
  width: 100%;
  color: white;
  bottom: 0;
}

/* -----------------------------------------Inicio--------------------------------------------------------*/
.firstSectionCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 70vh;
  background-color: #2b2d42;
  color: white;
  font-family: play;
}
.carouselCont{
  display: flex;
  justify-content: center;
  width: 250px
}
.secondSectionCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 50px;
  font-size: 17px;
  background-color: #8d99ae 
}
.thirdSectionCont{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 100px;
  background-color: #8d99ae
}
.homeText2{
  display: flex;
  justify-content: center;
}
.homeimg1{
  width: 15vh;
  display: flex;
  justify-content: center;
  gap: 25px
}
.homeText1{
  width: 50%
}
.carousel-control-next .carousel-control-prev-icon{
  display: none
}
/* -------------------------------------------proyectos---------------------------------------------------*/
.proyectTitle{
  text-align: center;
  padding: 40px;
  font-family: play
}
.pCardTitle{
  text-align: center;
  font-family: play;
}
.cardsContainer{
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 30px;
  flex-wrap: wrap;
  
}
.projectsContainer{
  background-color: #8d99ae
}
.btn-custom{
  transition: all .5s ease;
  background-color: #ef233c !important;
}
.cardBtn{
  display: flex;
  justify-content: center;
  color: white;
}
.btn-custom:hover{
  background-color: #ef233c;
  transition: all ease .5s;
  transform: scale(1.1);
}
.proyectCardStyle{
  background-color: #2b2d42 !important;
}
.modalStyle{
  background-color: #2b2d42 !important;
}
/* -------------------------------------------skills------------------------------------------------------*/
.skillsTitle{
  padding: 40px;
  text-align: center;
  font-family: play;
}
.skillCardsContainer{
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 30px;
  flex-wrap: wrap;
  border: 1px #ef233c;
}
.skillCardStyle{
  background-color: #2b2d42 !important;
}
.cardTitle{
  text-align: center;
  font-family: play
}
.skillContainer{
  background-color: #8d99ae
}

/* -------------------------------------------slider------------------------------------------------------*/
.custom-slider-img{
  max-height: 600px;
  height: auto;
  width: 100%;
  object-fit: cover;
}
/* -------------------------------------------contact me------------------------------------------------------*/
.contactTitle{
  padding: 40px;
  text-align: center;
  font-family: play;
}
.contactBody{
  background-color: #8d99ae;
}
.contactContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
  padding: 30px;
}
.contactImgs{
  width: 40vh;
  height: 40vh;
  object-fit: cover;
  border-radius: 100%
}
.socialMediaCont{
  width: 60vh;
  height: 60vh;
  text-align: center;
  background-color: #2b2d42;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px red solid;
  border-radius: 10px

}
.linksSocialMedia{
  text-decoration: none;
  color: white
}
/* -------------------------------------------responsive--------------------------------------------------*/
@media screen and (max-width: 991px){
    .navlinksContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px
    }
}
@media screen and (max-width: 750px){
  .footerContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column
  }
}
@media screen and (max-width: 650px){
  .secondSectionCont{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
  }
  .homeText1{
    width: 100%;
  }
  .homeText2{
    width: 100%
  }
}